CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
gens

server

build
bin
obj
third_party
.vs
.vscode

*.pb.cc
*.pb.h

__pycache__